/* Card container */
.search-card {
  width: 300px;
  background: #ffffff;
  border: 1px solid #e3e6e6;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,.08);
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.search-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,.12);
}

/* IMAGE (same as homepage) */
.search-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: #f6f7f8;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Title */
.search-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin: 0 0 6px;
}

/* text */
.search-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #444;
}

/* Divider */
.divider {
  height: 1px;
  background: #e3e6e6;
  margin: 8px 0;
}

/* CTA */
.search-cta {
  margin-top: auto;
  display: flex;
  justify-content: start;
}

/* Button */
.search-btn {
  padding: 10px 14px;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  color: #232f3e;
  transition: 0.2s ease;
}

.search-btn:hover {
  background-color: yellow
}
